# macOS
.DS_Store

# LaTeX
*.aux
*.log
*.pdf
*.aux
*.bcf
*.bbl
*.blg
*.fdb_latexmk
*.fff
*.fls
*.lof
*.log
*.out
*.gz
*.zip
*.run.xml
*.wav
/notebooks/.ipynb_checkpoints
/notebooks/__pycache__
__pycache__/
*.class
*.ipynb_checkpoints
